<div class="content" [ngClass]="">
    <div class="head-content">
       <div class="left">
        <img routerLink="./home" src="./assets/logo/Sonic-logo.png" alt="">
       </div>
       <div class="meio">
        <a routerLink="./camisetas">CAMISETAS</a>
        <a routerLink="./pelucias">PELUCIAS</a>
        <a routerLink="./canecas">CANECAS</a>
        <a routerLink="./bonecos">BONECOS</a>
       </div>
       <div class="direita">
        <div class="rast">
            <i class='icon bx bxs-truck'></i> 
            <a href="">Rastreio</a>
        </div>
        <div class="input">
            <div class="search"><i class='icon bx bx-search-alt'></i></div>
            <input type="text" placeholder="digite aqui o que procura...">
        </div>
        <div class="user">
            <i class='icon bx bx-user-circle'></i>
            <i routerLink="./carrinho" class='icon1 bx bx-cart' ></i>
        </div>
        
        
       </div>
       
    </div>
</div>
