<div class="container">
    <div class="span">
        <span>precisando tomar um café?</span>
    </div>
    <div class="content">
    <div class="file-container" [routerLink]="[]" >
        <img src="./assets/canecas/caneca1.jpg" alt="">
        
        <span>Caneca Sonic - Azul</span>
        <br>
        <span>R$33,49</span>
        <div class="comp">
            <button class="button1">Comprar</button>
        <button><i class='bx bxs-cart' ></i></button>
        </div>

        
      
   </div>
    <div class="file-container" [routerLink]="[]" >
        <img class="image" src="./assets/canecas/caneca3.jpg" alt="">
        
        <span>Caneca Sonuc - Branca</span>
        <br>
        <span>R$34,00</span>
        <div class="comp">
            <button class="button1">Comprar</button>
        <button><i class='bx bxs-cart' ></i></button>
        </div>
</div>