<div class="container">
    <div class="span">
        <span>conheça nossos queridinhos:</span>
    </div>
    <div class="content">
    <div class="file-container" [routerLink]="[]" >
        <img src="./assets/camisetas/camiseta1.png" alt="">
        
        <span>Camiseta rosa - Sonic</span>
        <p>Disponiveis nos tamanhos P e M</p>
        <span>R$40,50</span>
        <div class="comp">
            <button class="button1">Comprar</button>
        <button><i class='bx bxs-cart' ></i></button>
        </div>

        
      
   </div>
    <div class="file-container" [routerLink]="[]" >
        <img class="image" src="./assets/camisetas/camiseta2.png" alt="">
        
        <span>Camiseta Branca - Sonic</span>
        <p>Disponiveis nos tamanhos P e G</p>
        <span>R$45,90</span>
        <div class="comp">
            <button class="button1">Comprar</button>
        <button><i class='bx bxs-cart' ></i></button>
        </div>

        
      
   </div>
    <div class="file-container" [routerLink]="[]" >
        <img src="./assets/camisetas/camiseta3.jpg" alt="">
        
        <span>Camiseta infantil - Sonic</span>
        <p>Disponiveis nos tamanhos PP e P</p>
        <span>R$40,50</span>
        <div class="comp">
            <button class="button1">Comprar</button>
        <button><i class='bx bxs-cart' ></i></button>
        </div>

        
      
   </div>
    <div class="file-container" [routerLink]="[]" >
        <img src="./assets/canecas/caneca3.jpg" alt="">
        
        <span>Caneca - Sonic</span>
        <p>Coleção especial</p>
        <span>R$29,90</span>
        <div class="comp">
            <button class="button1">Comprar</button>
        <button><i class='bx bxs-cart' ></i></button>
        </div>

        
      
   </div>
</div>
<div class="prin">
    <div class="img">
        <img src="./assets/camisetas/camiseta1.png" alt="">
    </div>
    <div class="text">
        <h3>#destaque do mês</h3>
        <br>
        <h3> camiseta rosa - sonic
        </h3>
        <br>
        <span>gjadjanfkad</span>
        <br>
        <h3>R$40,50</h3>
        <br>
        <br>
        <button class="destaq">Comprar</button>
    </div>
</div>

</div>